<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Ricc internal notes:</strong>
    <%= category.ricc_internal_notes %>
  </p>

</div>
