@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/


/*
  Added by Riccardo, as asked to Gemini. Gradient between cyan and purple - WOOT!
*/
.underline-gradient:hover {
  background-image: linear-gradient(to right, cyan, purple);
  background-size: 100% 2px; /* Adjust height for underline thickness */
  background-position: bottom;
  text-decoration: none; /* Remove default underline */
}
