
<%= render_fancy_step_title(5, 'ðŸ’©RemoveMeðŸ’© just testing GenAI with Palm ðŸ¤¦ðŸ» #facepalm') %>
    <div class="bg-blue-500 md:bg-green-500 p-4 rounded shadow-md">
        <div class="prose lg:prose-xl" >
                <!--        # Verona colors: https://teamcolorcodes.com/hellas-verona-colors/ -->
            <% if (GeminiLLM) %>
                <%= GeminiLLM.sample_complete.output rescue "Palm-LLM might not exist anymore hence using untested GeminiLLM.. ERR='#{$!}'" %>
            <% else %>
                <b>Sorry GeminiAuthenticated=false which means that probably we had issues authenticating Gemini</b>
            <% end %>
        </div>
    </div>
