<h1>🔎 Select a Sample Query</h1>

<ul>
  <% @sample_queries.each do |query| %>

  <!-- <li><%#= link_to(query, smart_query_path(query: query), method: :get) rescue "Err #{$!}" %> (This will simulate the search)</li>
  -->
  <li>👀
    <%= fancy_link_to(:short, "/smart_queries/show?type=hard-coded&query=#{query}&rag_type=short") rescue "Err #{$!}" %>
    <%= fancy_link_to(:long, "/smart_queries/show?type=hard-coded&query=#{query}&rag_type=long") rescue "Err #{$!}" %>
    <%= query %>
  </li>
  <% end %>
</ul>

<%#= console %>
