<%
    @interesting_data_short = {
        'Langchain::VERSION': Langchain::VERSION,
        APP_VERSION: APP_VERSION,
        ENV_PROJECT_ID: ENV['PROJECT_ID'],
        GeminiAuthenticated: GeminiAuthenticated,
        VertexAuthenticated: VertexAuthenticated,
        'VertexAuthTokenLength (should be 1024 if it works)': VertexAuthTokenLength,
        GeminiLLMAuthenticated: GeminiLLMAuthenticated,
        VertexLLMAuthenticated: VertexLLMAuthenticated,
       # PalmLLMAuthenticated: PalmLLMAuthenticated,
        GeminiLLM: GeminiLLM,
        VertexLLM: VertexLLM,
        PalmLLM: PalmLLM,
        LLMs: LLMs.map{|llm| llm.to_s },
        AreLLMsAuthenticated: LLMs.map{|llm| llm.authenticated?} ,
        "VertexLLM.authorizer.token_type": (VertexLLM.authorizer.token_type rescue :Error),
        "VertexLLM.fetch_access_token.first(10)": (VertexLLM.authorizer.fetch_access_token!()['access_token'].first(10) rescue $!),
        OllamaLLM: OllamaLLM,
        NewsRetriever: NewsRetriever,
        NewsRetrieverENV: NewsRetrieverENV,
        NewsRetriever_key_initials: (NewsRetriever.inspect.match(/api_key=....../)[0] rescue $!),
        NewsRetrieverENV_key_initials: (NewsRetrieverENV.inspect.match(/api_key=....../)[0] rescue $!),
        'bundle info langchainrb (path only)': `bundle info langchainrb|grep Path:` ,
        'bundle info googleauth (path only)': `bundle info googleauth|grep Path:` ,


    }
    @interesting_data_long = {
        'bundle config local.lanchainrb': `bundle config local.lanchainrb`,
        'bundle info langchainrb</b> (you can fix with <b>bundle config --delete local.lanchainrb</b>': `bundle info langchainrb`,
        'bundle info googleauth': `bundle info googleauth`,
    }
    @title = 'Gemini and Langchain interesting stuff (simply @title - WORSE)' # if i forget it i can get the one from previous invokation -> BAD!

%>

<h1 class="font-bold text-4xl">♊ Gemini and Langchain info</h1>

<div class="gemini-stuff" >

    <%= render 'pages/gcp_smart_keyvalue_table', :locals => {
       # 'interesting_data_short' => @interesting_data_short,
       # 'interesting_data_long' => @interesting_data_long,
       'title': '♊ Gemini and Langchain interesting stuff (by partial arg - better)',
     } %>

</div>
