<h1 class="font-bold text-4xl">🀄 Ruby and Bundle info</h1>

<div class="ruby-stuff" >
    <p>
        <b>bundle config</b>: <pre class="prose" ><%= `bundle config` %></pre>
    </p>
    <p>
        <b>RUBY_VERSION</b>: <tt><%= RUBY_VERSION %></tt>
    </p>

</div>
