<%
  gac = ENV.fetch('GOOGLE_APPLICATION_CREDENTIALS', nil)
  bucket = ENV.fetch 'BUCKET_NAME', nil
  listing = gcp_bucket_listing(bucket) if (gac and bucket)
%>
<div>

<%= render partial: 'pages/gcp_gemini' # rescue "Error with GCP Gemini"
%>

<%= render partial: 'pages/gcp_rubyenv' rescue "Error with GCP RubyEnv" %>


<h1 class="font-bold text-4xl">☁️ GCP side</h1>

Currently working on more important stuff - hence pausing this.
TODO: `webapp/app/views/pages/_gcp_gcsstuff.html.erb`
