<div class="" >
    <% if article.link.to_s.length > 0 %>
        <%= link_to 'ðŸŒ', article.link %>
    <% end %>
    <span class="text-xs font-mono hover:font-serif text-xs font-extralight" >
        [<%= render_article_newspapaer article %>]
    </span>

    <%= link_to article.yyyymmdd_hhmm, article %>
    <b><%= link_to article.title, article %></b>
    <br/>
</div>

