<p class="article" >
    <% if article.link.to_s.length > 0 %>
        <%= link_to 'ðŸŒ', article.link %>
    <% end %>
    [<%= article.newspaper %>]

    <%= link_to article.yyyymmdd, article %>
    <b><%= link_to article.title, article %></b>
    <br/>
</p>

