<%
    sanitized_content = ActionView::Base.full_sanitizer.sanitize(@article.content.to_s).strip
    sanitized_article = ActionView::Base.full_sanitizer.sanitize(@article.article.to_s).strip
%>
<div class="flex flex-col space-y-4">
    <div class="bg-brown-100 p-4 rounded shadow-md">
        <h3 class="text-lg font-medium text-brown-900">
            <%= EmbeddingEmoji %>article.to_s
        </h3>
        <!--
        <ul class="list-disc space-y-2 pl-4">
            <b>Article.content (sanitized)</b>:
            <pre style="white-space: pre-wrap;" ><%= sanitized_content %></pre>
        </ul>
    -->
        <div class="prose p-4">
            <pre style="white-space: pre-wrap;" ><%= sanitized_article %></pre>
        </div>
    </div>
</div>


