<div class="flex flex-col space-y-4">
    <div class="bg-yellow-100 p-4 rounded shadow-md">
        <h3 class="text-lg font-medium text-yellow-900">
            <%= EmbeddingEmoji %>Semantically Similar Articles
        </h3>
        <ul class="list-disc space-y-2 pl-4">
        <% @article.closest_articles.each do |article| %>
            <li>🗄️
            <a href="<%= article_path(article) %>" class="text-yellow-700 hover:text-blue-500 underline">
                <%= article.title %>
            </a>
            </li>
        <% end %>
        </ul>
    </div>
    <!--
    <div class="prose p-4">
        <%#= @article.content %>
    </div>
    -->
</div>


