#!/bin/bash

# Created with codelabba.rb v.2.3 and then extrapolated...

layout ricc_gcloud

if [[ -f ../.envrc ]] ; then
    echo Found in up dir..

    source_env ../.envrc
fi

env | egrep "NEWS|BUCKET"

# # 1. first of all
# [[ -f .envrc._before ]] && source_env .envrc._before

# # 2. Add other logic if you need. for instance you might include dev or prod based on some other ENV[..]
# [[ -f .envrc.local ]] && source_env .envrc.local
# [[ -f .envrc.private ]] && source_env .envrc.private
# [[ -f .envrc.riccardo ]] && source_env .envrc.riccardo
# [[ -f .envrc.dev ]] && source_env .envrc.dev
# [[ -f .envrc.prod ]] && source_env .envrc.prod
